* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: 'Work sans';
}
.media-body {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
/**/
.portada {
  padding-top: 18em;
}
.portada span {
  font-weight: 600;
}
.portada h2 {
  font-weight: 200;
}

/*PORTADA*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Work sans';
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vertical-nav{
  margin-left: 4em;
  margin-top: 2em;
}
.vertical-nav p {
  font-size: 19px;
  font-weight: 600;
}

.vertical-nav span {
  font-weight: 200;
}

a {
  color: black;
  bottom: 2em;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
}
.pie{
  display: block;
  margin-bottom: 2em;
  margin-left:  1em;
}
.pie a:hover{
  color: #000;
}
/*MENU*/
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10em;
}
.dropdown-toggle::after {
  display:none;
}

#projects{
  border-radius: none !important;

}
/*ACTUALITE*/
#actualite {
  padding-top: 8.5em;
  
}
p{
  font-weight: lighter;

}
/*PROFIL*/

.profil {
  padding: 2em;
 
  margin: 7em;
}
.profil p {
  color:#262626;
  font-size: 14px;

}
.profil ul {
  list-style: none;
  font-weight: 300;
}
table tbody tr th,
table tbody tr td {
  margin: 0%;
  padding: 0%;
  font-weight: lighter;
}
/*PROJETS*/
.Projets {
  font-family: 'Work sans';
  font-weight: 200;
  padding-left: 1em;
}
.Projets a:hover {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.dropdown-item {
  text-decoration: none;
  background: none;
}
.dropdown-item:hover {
  background-color: white;
  border: none;
}
#carouselExampleFade{
  padding-top: 9em;
}
/*EN COURS*/
.cours {
  padding-top: 5em;
  padding-bottom: 5em;
}
.cours a {
    width: 25%;
    padding: 0 0 0 20px;
    text-decoration: none;
    /* font-weight: 300; */
}
.cours a:hover{
    color: black;
}
#curso img{
  padding-top: 4em;
}
/*RÉALISÉ*/
.realis{
  padding-top: 9em;
}
.realis a {
    width: 25%;
    padding: 0 0 0 20px;
    text-decoration: none;
    /* font-weight: 300; */
}
.realis a:visited {
    color: #272727;
}

/*CONTACT*/

.contact a {
  text-decoration: none;
  font-weight: 200;
  margin-bottom: 2em;
}

#contact {
  padding-top: 6.5em;
  margin-top: 2em;
  margin-bottom: 4em;
}
.info p {
  margin-bottom: 0%;
  font-size: 14px;
}

.info a:hover {
  color: black;
  font-weight: 600;
}
.ruta p {
  margin-bottom: 0%;
  font-size: 14px;
}
.ruta .margenb {
  margin-bottom: 2em;
}
.ruta a:hover {
  color: black;
  font-weight: 600;
}
#center {
  padding-top: 1.5em;
}
.car{
  padding-left: 15.5em;
}
/*ICONOS*/
.iconos {
  padding-bottom: 1em;
  margin-top: 5em;
  margin-right: 5em;
}
.iconos a:hover {
  color: black;
}

.iconos{
  margin-top: 2em;
  margin-bottom: 1em;
}

/*PIE*/
.pie{
padding-bottom: 2em;
}

/*red*/

.red{
  padding: 0%;
  margin: 0%;
}