*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Work sans';
}

/*PORTADA*/
.text-center h1{
padding: 8em;
font-family: 'Work sans';

}
h1{
    font-weight: lighter;
}
h1 span{
    font-weight: 600;
}
.text-center h2 span{
    font-weight: 600;

}

.sidervar-container {
    min-height: 18vh;
}

.sidervar-container h4{
    padding: .875rem 1.75rem;
    font-weight: lighter;
}
.sidervar-container h4 span{
    font-weight: 600;
}

/*MENU*/
.col-3{
    bottom: -2em;
}
    
.menu a{
    font-family: 'Work sans';
    font-weight: 200;
    top: -50px;

}
a:hover{
    text-decoration: none;
    font-weight: 600;
    color: #000;

}

/*DIRE*/
.col-4{
    bottom: -2.5em;
}
.col-4 a{
    text-decoration: none;
    color: #000;
}
p{
    font-weight: 200;
    margin-left: 0.5em;
    margin-bottom: 0%;
}
.dire a{
    text-decoration: none;
    color: #000;
}
a svg{
    color: #000;
}


/*mapa*/

img{
    width: 55%;

}

.p-4 p{
    margin-left: 21em;
}
p:hover{
    color: #000;
}

/*iconos*/
.icon svg{
    margin-left: 1.5em;
    margin-bottom: 1em;
    color: #000;
}
